{% extends "base.html" %}
{% load l10n %}

{% block pagetitle %}Challenges {{ block.super }}{% endblock %}

{% block body %}
  <h1>Challenges</h1>
    {% for challenge in challenges %}
      <div class="row">
        <div class="card w-100 mb-4">
          <div class="card-header text-white {% if not challenge.obj.active %}bg-warning{% elif challenge.finished %}bg-secondary{% else %}bg-primary{% endif %}">
            {{ challenge.obj.title }} {% if challenge.finished %}(Completed at {{ challenge.user_entry.completion_time|date:"DATETIME_FORMAT" }}){% endif %}
          </div>
          <div class="card-body">
            <p class="card-text">{{ challenge.obj.description|truncatewords_html:20|safe }}</p>
            <a class="btn btn-primary" href="{{ challenge.obj.get_absolute_url }}">View challenge</a>
          </div>
          <div class="card-footer">
            <ul>
              <li>Deadline: {{ challenge.obj.end_time|date:"DATETIME_FORMAT" }}</li>
              {% with starters=challenge.obj.challengeentry_set.count %}
                <li>Started by {{starters}} student{{ starters|pluralize }}</li>
              {% endwith %}
              {% with completed=challenge.obj.completed_entries.count %}
                <li>Completed by {{completed}} student{{ completed|pluralize }}</li>
              {% endwith %}
            </ul>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="alert alert-danger" role="alert">No challenges available</alert>
    {% endfor %}
{% endblock %}
<!-- vim: set ft=jinja.html ts=4 sw=2 tw=0 et :-->
