{% extends "base.html" %}
{% load bootstrap4 %}

{% block pagetitle %}
    Login – {{ block.super }}
{% endblock %}

{% block body %}

{% if form.errors %}
  <div class="alert-danger" role="alert">
    Your username and password didn't match. Please try again.
  </div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
      <div class="alert alert-danger" role="alert">
        Your account doesn't have access to this page. To proceed,
        please login with an account that has access.
      </div>
    {% else %}
      <div class="alert alert-info" role="alert">
        Please login to see this page.
      </div>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

{% bootstrap_form form %}

  <input type="hidden" name="next" value="{{ next }}">
{% buttons %}
  <input type="submit" value="login">
{% endbuttons %}
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
<!-- vim: set ft=jinja.html ts=4 sw=2 tw=0 et :-->
