[Unit]
Description=Run janitor jobs for ctfexam

[Service]
Type=oneshot
Environment="SECRET_KEY=placeholder"
User=django
Group=www-data
WorkingDirectory=/home/django/ctfexam
SupplementaryGroups=docker
ExecStart=/usr/bin/python3 /home/django/ctfexam/manage.py cleanup_processes
